<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <script src="/javascripts/jquery-1.8.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/themes/flatly.bootstrap.min.css' />
    <script src="/javascripts/underscore.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <!-- nav bar -->
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SQL Dog</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li ><a href="/">IDE</a></li>
          <li ><a href="/help">Help</a></li>
          <li class="active"><a href="/about">About</a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
    <!-- end navbar -->

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-8">
        <h1>What is this?</h1> 
        <p>This is a SQL client that runs entirely in the browser! I built it 
        out of frustration with existing SQL IDEs for OSX. My biggest issue is 
        that most SQL clients are built for database administrators, <i>NOT</i>
        database <i>USERS</i>. Think about it...who writes the most queries? Not
        developers but analysts!
        </p>

        <h1>What does it do?</h1>
        <ul>
          <li>Run queries in the broswer</li>
          <li>Predictive type <b>everywhere</b></li>
          <li>Saves your queries using <code>git</code></li>
          <li>Save results in the browser, or export to Excel/CSV</li>
          <li>Help with executing long running queries</li>
          <li>Customizeable macros / snippets</li>
          <li>Customizeable keyboard shortcuts</li>
          <li>Query templating</li>
        </ul>

        <h1>How do I use it?</h1>
        <h3>Some Tips and Tricks</h3>

        <p>Use <b>ctrl + f</b>! One of the reasons it's great an in-browser 
        editor is that you can use keyboard shortcuts that you're already using
        on a day-to-day basis. This is the reason we're not using a fancy table
        display for your query results--just use what you use already!
        </p>

        <p>Try not to execute 20K+ row queries. There's nothing stopping you 
        from doing this, but do you really need to display 20K results? If you
        just want to export the data, use the `data export` feature.
        </p>

        <p>There are lots of keyboard shortcuts. Use them! You can find a list 
        <a href="/help">here</a>. But try and commit `Run` (cmd + enter) to 
        memory.
        </p>

      </div>
    </div>


</html>
