<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-1.8.0.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
  </body>

  <textarea id="type-ahead"></textarea>
  <button id="type-ahead-go">GO</button>

  <textarea id="query"></textarea>
  <button id="query-go">GO</button>
  <button id="save-go">SAVE</button>
  <button id="files-go">FILES</button>
  <button id="open-go">OPEN</button>

  <pre id="results"></pre>

  <script type="text/javascript">
    var socket = io.connect();
  
    $("#type-ahead-go").click(function(e) {
        socket.emit("type-ahead", { 
          table: "beer_reviews",
          text: $("#type-ahead").val()
        });
        e.preventDefault();
    });

    $("#query-go").click(function(e) {
        socket.emit("query", { 
          query: $("#query").val(),
          TODO: $("
        });
        e.preventDefault();
    });

    $("#save-go").click(function(e) {
        socket.emit("save", { 
          type: "query",
          query: $("#query").val()
        });
        socket.emit("save", { 
          filename: "my-sql-query",
          type: "query",
          query: $("#query").val()
        });
        e.preventDefault();
    });

    $("#files-go").click(function(e) {
        socket.emit("list"); 
        e.preventDefault();
    });

    $("#open-go").click(function(e) {
        socket.emit("open-file", { filename: "my-sql-query.sql" }); 
        e.preventDefault();
    });

    socket.on("type-ahead", function(data) {
        $("#results").text(JSON.stringify(data, null, 2));
    });

    socket.on("query-result", function(data) {
        $("#results").text(JSON.stringify(data, null, 2));
    });

    socket.on("query-error", function(data) {
        $("#results").text(JSON.stringify(data, null, 2));
    });
    
    socket.on("files", function(data) {
        $("#results").text(JSON.stringify(data, null, 2));
    });

    socket.on("open-file", function(data) {
        $("#results").text(JSON.stringify(data, null, 2));
    });


  </script>
</html>
