

.dynatable-head {
	text-align: center;
	background-color: #2c3e50;
}

.guess-token {
	background-color: coral;
}

.guess-varchar {
	background-color: skyblue;
}

.guess-float8 {
	background-color: skyblue;
}

li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

li .edit {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

.edit {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.edit:hover,
.edit:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.edit {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

li .download {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

.download {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.download:hover,
.download:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.download {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

button.delete {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	color: red;
	float: right;
	font-size: 22.5px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	filter: alpha(opacity=20);
}

.modal-backdrop {
	background: none;
}

.result-modal {
	max-height: 800px;
	max-width: 1500px;
}

.best {
	background-color: coral;
}

/* I think I want less here :(*/
/*.confidence-0 { opacity: 0.0; }
.confidence-1 { opacity: 0.5; }
.confidence-2 { opacity: 0.10; }
.confidence-3 { opacity: 0.15; }
.confidence-4 { opacity: 0.20; }
.confidence-5 { opacity: 0.25; }
.confidence-6 { opacity: 0.30; }
.confidence-7 { opacity: 0.35; }
.confidence-8 { opacity: 0.40; }
.confidence-9 { opacity: 0.45; }
.confidence-10 { opacity: 0.50; }
.confidence-11 { opacity: 0.55; }
.confidence-12 { opacity: 0.60; }
.confidence-13 { opacity: 0.65; }
.confidence-14 { opacity: 0.70; }
.confidence-15 { opacity: 0.75; }
.confidence-16 { opacity: 0.80; }
.confidence-17 { opacity: 0.85; }
.confidence-18 { opacity: 0.90; }
.confidence-19 { opacity: 0.95; }
*/


















